.App {
    display: flex;
    flex-direction: column;

    .body {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .files {
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 0.5;
        }

        .fileContent {
            display: flex;
            flex-direction: column;
            flex: 0.5;
            gap: 15px;

            &-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 15px;

                &-version,
                &-newVersion,
                &-checkbox {
                    display: flex;
                    flex-direction: row;
                }

                &-version,
                &-newVersion {
                    justify-content: flex-end;
                }

                &-checkbox {
                    justify-content: center;
                }

                & > div {
                    flex: 1;
                }
            }
        }
    }
}
